<div style="background-color:#EEE;height:100%;width:100%;">

    <div class="row" style="padding-top:150px;">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Get the App</h2>
            <hr class="primary">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box">
                <img src="img/appstore.png" style="width:auto;height:100px;padding:5px;">
                <h3>iOS</h3>
                <p class="text-muted">Get the Capture App from the Appstore.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box">
                <img src="img/play-store-icon.png" style="width:auto;height:100px">
                <h3>Android</h3>
                <p class="text-muted">Get the Capture App from the Playstore.</p>
            </div>
        </div>
    </div>

</div>